* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.developer-png {
  max-width: 774px;
  margin-top: 38px;
  margin-left: 23px;
}
header {
  background: url(./images/developer.png), url(./images/header_bg.png), #fff8f3;
  background-position: 20px 3px, bottom right;

  background-repeat: no-repeat;
}
/*nav bar desisn*/
nav {
  max-width: 1140px;
  /* border: 1px solid violet; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
  margin-top: 40px;
}
.inside-text-design {
  color: #fd6e0a;
}
.fa-download {
  padding-right: 10px;
}
.fa-phone {
  padding-right: 20px;
}
nav .menu {
  display: flex;
  gap: 51px;
  margin-top: 50px;
  /* align-items: center; */
}
nav .menu a {
  font-size: 20px;
  color: #474747;
}
a {
  text-decoration: none;
}
.menu .btn {
  margin-top: -10px;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 36px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
#banner {
  /* border: 1px solid black; */
  margin: 30px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content {
  max-width: 585px;
}
.banner-content h2 {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-weight: bold;
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 31px;
}

.banner-buttons .btn-banner {
  padding: 19px 17px;
}
.banner-buttons .btn-banner1 {
  padding: 19px 24px;
  background-color: #fff8f3;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  margin-left: 37px;
}
.banner-image {
  max-width: 585px;
  vertical-align: middle;
  margin-bottom: -4px;
}
#about {
  margin-top: 130px;
}
.about-container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
  padding: 131px 157px;
  text-align: center;
}
.about-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.about-heading p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.about-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-cards p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}

#skill {
  margin-top: 130px;
}
.skill-container {
  max-width: 1140px;
  margin: 0 auto;
}
.skill-heading h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.skill-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.skill-box {
  display: flex;

  justify-content: space-around;
}
.skill-card {
  padding: 30px;
  max-width: 267px;

  box-shadow: 0 6px 50px #00000028;
}
.skill-card img {
  max-width: 44px;
}
.skill-card h3 {
  font-weight: bold;
  color: #181818;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.skill-card p {
  line-height: 28px;
  font-size: 15px;
  color: #757575;
}
#resume {
  margin-top: 130px;
}
.resume-heading {
  text-align: center;
  margin-bottom: 90px;
  font-size: 35px;
}
.resume-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.education h2 {
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}

.resume-card h3 {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 10px;
}
.resume-card h4 {
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-card p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  /* margin-bottom: 60px; */
}
.experience {
  margin-top: 115px;
}
.experience h2 {
  font-size: 30px;
  color: #474747;

  margin-bottom: 30px;
}
.hr-tag {
  background: #fd6e0a;
  width: 538px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-btn {
  margin-top: 60px;
  margin-left: -90px;
}
footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0px;
}
.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}
.social {
  max-width: 562px;
}
.footer-container h2 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}
.footer-container .social p {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer-container .icons a {
  margin-right: 24px;
}
.footer-container form input[type='text'] {
  max-width: 461px;
  padding: 18px 349px 18px 30px;
  border: none;
  border-radius: 4px;
  margin-bottom: 15px;
  color: #757575;
}
.footer-container form input[type='email'] {
  max-width: 461px;
  margin-bottom: 15px;
  padding: 18px 349px 18px 30px;
  border: none;
  border-radius: 4px;
  color: #757575;
}
.footer-container form textarea {
  width: 461px;
  color: #757575;
  padding: 18px 365px 134px 30px;
  border: none;
  margin-bottom: 24px;
}
